/* You can add global styles to this file, and also import other style files */

nav {
    background-color: crimson;
    color: #fff;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

img {
    position: absolute;
    margin-left: 556px;
    height: 201px;
    width: 326px;
}